In [1]:
import pandas as pd
import statsmodels.api as sm
import math
import numpy as np

In [2]:
reds = pd.read_csv("RED_faults.csv")
greys = pd.read_csv("GREY_faults.csv")

In [3]:
display(reds)
display(greys)

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading
0,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3300.205,774.951,38999.774,124038.180
1,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3303.655,775.601,36817.198,124189.048
2,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3307.655,777.301,32363.860,124290.549
3,2022-07-12 22:22:51,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386
4,2022-07-12 18:55:59,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386
...,...,...,...,...,...,...,...
2489053,2022-12-08 13:25:44,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118
2489054,2022-12-08 12:46:02,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118
2489055,2022-12-08 14:03:04,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118
2489056,2022-12-26 14:22:50,2022-05-05 00:00:00,MACK,NaN,727.351,NaN,14475.979
2489057,2022-12-26 14:22:51,2022-05-05 00:00:00,MACK,NaN,727.351,NaN,14475.979

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading
0,2022-07-06 23:28:34,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997
1,2022-07-06 12:23:18,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997
2,2022-07-06 23:28:51,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997
3,2022-07-06 12:23:29,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997
4,2022-07-06 23:28:34,2020-09-30 00:00:00,MACK,5110.857,1933.553,56791.079,170251.276
...,...,...,...,...,...,...,...
240543585,2022-09-16 13:37:58,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN
240543586,2022-09-16 17:27:34,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN
240543587,2022-09-16 18:49:48,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN
240543588,2022-09-16 13:09:14,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN
240543589,2022-09-16 17:13:43,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN

In [4]:
reds['red_fault'] = 1
greys['red_fault'] = 0

In [5]:
display(reds)
display(greys)

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading,red_fault
0,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3300.205,774.951,38999.774,124038.180,1
1,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3303.655,775.601,36817.198,124189.048,1
2,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3307.655,777.301,32363.860,124290.549,1
3,2022-07-12 22:22:51,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
4,2022-07-12 18:55:59,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
...,...,...,...,...,...,...,...,...
2489053,2022-12-08 13:25:44,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118,1
2489054,2022-12-08 12:46:02,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118,1
2489055,2022-12-08 14:03:04,2022-01-13 00:00:00,VOLVO,NaN,1509.852,NaN,131249.118,1
2489056,2022-12-26 14:22:50,2022-05-05 00:00:00,MACK,NaN,727.351,NaN,14475.979,1
2489057,2022-12-26 14:22:51,2022-05-05 00:00:00,MACK,NaN,727.351,NaN,14475.979,1

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading,red_fault
0,2022-07-06 23:28:34,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997,0
1,2022-07-06 12:23:18,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997,0
2,2022-07-06 23:28:51,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997,0
3,2022-07-06 12:23:29,2020-09-30 00:00:00,MACK,5108.107,1932.903,45701.827,170130.997,0
4,2022-07-06 23:28:34,2020-09-30 00:00:00,MACK,5110.857,1933.553,56791.079,170251.276,0
...,...,...,...,...,...,...,...,...
240543585,2022-09-16 13:37:58,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543586,2022-09-16 17:27:34,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543587,2022-09-16 18:49:48,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543588,2022-09-16 13:09:14,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543589,2022-09-16 17:13:43,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0

In [6]:
faults = pd.concat([reds, greys])

In [7]:
display(faults)

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading,red_fault
0,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3300.205,774.951,38999.774,124038.180,1
1,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3303.655,775.601,36817.198,124189.048,1
2,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3307.655,777.301,32363.860,124290.549,1
3,2022-07-12 22:22:51,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
4,2022-07-12 18:55:59,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
...,...,...,...,...,...,...,...,...
240543585,2022-09-16 13:37:58,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543586,2022-09-16 17:27:34,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543587,2022-09-16 18:49:48,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543588,2022-09-16 13:09:14,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0
240543589,2022-09-16 17:13:43,2020-06-26 00:00:00,MACK,0.000,0.000,NaN,NaN,0

In [8]:
faults = faults.dropna()

In [9]:
display(faults)

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading,red_fault
0,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3300.205,774.951,38999.774,124038.180,1
1,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3303.655,775.601,36817.198,124189.048,1
2,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3307.655,777.301,32363.860,124290.549,1
3,2022-07-12 22:22:51,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
4,2022-07-12 18:55:59,2020-09-30 00:00:00,VOLVO,5080.907,1386.302,20723.453,155064.386,1
...,...,...,...,...,...,...,...,...
240527667,2022-12-07 14:54:04,2022-05-17 00:00:00,VOLVO,2506.554,1665.252,59679.134,46662.702,0
240527668,2022-12-22 10:06:38,2022-05-17 00:00:00,VOLVO,2783.654,1842.503,91006.822,52201.332,0
240527669,2022-12-22 12:48:14,2022-05-17 00:00:00,VOLVO,2783.654,1842.503,91006.822,52201.332,0
240527670,2022-12-22 10:06:42,2022-05-17 00:00:00,VOLVO,2783.654,1842.503,91006.822,52201.332,0
240527671,2022-12-22 12:48:18,2022-05-17 00:00:00,VOLVO,2783.654,1842.503,91006.822,52201.332,0

In [10]:
# Transforms the idle_engine_hours to hours
faults['idle_engine_hours'] = faults['idle_engine_hours'] / 3600

In [11]:
# Calculates the active_engine_hours
faults['active_engine_hours'] = faults['engine_hours'] - faults['idle_engine_hours']
print(faults['active_engine_hours'])

0            3299.989736
1            3303.439555
2            3307.439083
3            5080.521916
4            5080.521916
                ...
240527667    2506.091430
240527668    2783.142194
240527669    2783.142194
240527670    2783.142194
240527671    2783.142194
Name: active_engine_hours, Length: 146981092, dtype: float64

In [12]:
# Calculate the vehicle service age in days
faults['vehicle_service_age'] = pd.to_datetime(faults['message_date_time']) - pd.to_datetime(faults['in_service_dt'])
faults['vehicle_service_age'] = faults['vehicle_service_age'].dt.days
print(faults['vehicle_service_age'])

0            547
1            547
2            547
3            650
4            650
            ...
240527667    204
240527668    219
240527669    219
240527670    219
240527671    219
Name: vehicle_service_age, Length: 146981092, dtype: int32

In [17]:
# Turns vehicle make into a boolean
volvor = lambda x: 1 if x == "VOLVO" else 0
faults['volvo'] = faults['vehicle_make'].apply(volvor)
print(faults['volvo'].mean())

0.6897961609919186

In [18]:
display(faults)

,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,odometer_reading,red_fault,active_engine_hours,vehicle_service_age,volvo
0,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3300.205,0.215264,38999.774,124038.180,1,3299.989736,547,1
1,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3303.655,0.215445,36817.198,124189.048,1,3303.439555,547,1
2,2022-07-29 13:45:01,2021-01-28 00:00:00,VOLVO,3307.655,0.215917,32363.860,124290.549,1,3307.439083,547,1
3,2022-07-12 22:22:51,2020-09-30 00:00:00,VOLVO,5080.907,0.385084,20723.453,155064.386,1,5080.521916,650,1
4,2022-07-12 18:55:59,2020-09-30 00:00:00,VOLVO,5080.907,0.385084,20723.453,155064.386,1,5080.521916,650,1
...,...,...,...,...,...,...,...,...,...,...,...
240527667,2022-12-07 14:54:04,2022-05-17 00:00:00,VOLVO,2506.554,0.462570,59679.134,46662.702,0,2506.091430,204,1
240527668,2022-12-22 10:06:38,2022-05-17 00:00:00,VOLVO,2783.654,0.511806,91006.822,52201.332,0,2783.142194,219,1
240527669,2022-12-22 12:48:14,2022-05-17 00:00:00,VOLVO,2783.654,0.511806,91006.822,52201.332,0,2783.142194,219,1
240527670,2022-12-22 10:06:42,2022-05-17 00:00:00,VOLVO,2783.654,0.511806,91006.822,52201.332,0,2783.142194,219,1
240527671,2022-12-22 12:48:18,2022-05-17 00:00:00,VOLVO,2783.654,0.511806,91006.822,52201.332,0,2783.142194,219,1

In [19]:
# The variables for the logistic regression
X = faults[['volvo', 'active_engine_hours', 'gross_combined_weight', 'odometer_reading', 'vehicle_service_age']]
Y = faults['red_fault']

In [20]:
log_reg = sm.Logit(Y, X).fit()
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.052979
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:              red_fault   No. Observations:            146981092
Model:                          Logit   Df Residuals:                146981087
Method:                           MLE   Df Model:                            4
Date:                Wed, 10 May 2023   Pseudo R-squ.:                 -0.1581
Time:                        14:36:58   Log-Likelihood:            -7.7869e+06
converged:                       True   LL-Null:                   -6.7237e+06
Covariance Type:            nonrobust   LLR p-value:                     1.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
volvo                    -0.7892      0.002   -482.057      0.000      -0.792      -0.786
active_engine_hours   -1.124e-05   6.06e-07    -18.564      0.000   -1.24e-05   -1.01e-05
gross_combined_weight  -6.61e-05   3.94e-08  -1676.767      0.000   -6.62e-05    -6.6e-05
odometer_reading       1.308e-05   1.34e-08    974.120      0.000    1.31e-05    1.31e-05
vehicle_service_age      -0.0072    5.6e-06  -1285.071      0.000      -0.007      -0.007
=========================================================================================

In [21]:
coefs = sm.Logit(Y, X).fit().params.values
print(coefs)

Optimization terminated successfully.
         Current function value: 0.052979
         Iterations 9
[-7.89197431e-01 -1.12429878e-05 -6.60953985e-05  1.30837495e-05
 -7.19327592e-03]

In [23]:
delta = []
for coef in coefs:
    delta.append((math.exp(coef) - 1) * 100)
print(delta)

[-54.57908167808194, -0.0011242924594645487, -0.00660932142881876, 0.0013083835086025175, -0.7167466229332176]

In [25]:
faults['active_engine_days'] = faults['active_engine_hours'] / 24

In [26]:
X = faults[['volvo', 'active_engine_days', 'gross_combined_weight', 'odometer_reading', 'vehicle_service_age']]

In [27]:
log_reg = sm.Logit(Y, X).fit()
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.052979
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:              red_fault   No. Observations:            146981092
Model:                          Logit   Df Residuals:                146981087
Method:                           MLE   Df Model:                            4
Date:                Wed, 10 May 2023   Pseudo R-squ.:                 -0.1581
Time:                        15:26:09   Log-Likelihood:            -7.7869e+06
converged:                       True   LL-Null:                   -6.7237e+06
Covariance Type:            nonrobust   LLR p-value:                     1.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
volvo                    -0.7892      0.002   -482.057      0.000      -0.792      -0.786
active_engine_days       -0.0003   1.45e-05    -18.564      0.000      -0.000      -0.000
gross_combined_weight  -6.61e-05   3.94e-08  -1676.767      0.000   -6.62e-05    -6.6e-05
odometer_reading       1.308e-05   1.34e-08    974.120      0.000    1.31e-05    1.31e-05
vehicle_service_age      -0.0072    5.6e-06  -1285.071      0.000      -0.007      -0.007
=========================================================================================

In [28]:
coefs = sm.Logit(Y, X).fit().params.values
print(coefs)

Optimization terminated successfully.
         Current function value: 0.052979
         Iterations 9
[-7.89197431e-01 -2.69831707e-04 -6.60953985e-05  1.30837495e-05
 -7.19327592e-03]

In [29]:
delta = []
for coef in coefs:
    delta.append((math.exp(coef) - 1) * 100)
print(delta)

[-54.5790816780728, -0.02697953058286018, -0.00660932142881876, 0.0013083835086025175, -0.7167466229333508]