In [2]:
import pandas as pd
import statsmodels.api as sm
import math
import numpy as np

In [3]:
reds = pd.read_csv("RED_faults.csv")
greys = pd.read_csv("GREY_faults.csv")

In [4]:
reds = reds[['odometer_reading', 'message_date_time', 'in_service_dt', 'vehicle_make', 'engine_hours', 'idle_engine_hours', 'gross_combined_weight']]
greys = greys[['odometer_reading', 'message_date_time', 'in_service_dt', 'vehicle_make', 'engine_hours', 'idle_engine_hours', 'gross_combined_weight']]

In [5]:
display(reds)
display(greys)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight
0,172786.210,2022-09-06 22:32:36,2020-02-27 00:00:00,VOLVO,3244.905,626.601,NaN
1,172786.210,2022-09-05 18:11:09,2020-02-27 00:00:00,VOLVO,3244.805,626.501,NaN
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,625.101,22487.151
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,624.201,17482.657
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,621.301,17482.657
...,...,...,...,...,...,...,...
71699,3654.160,2022-10-12 10:02:40,2022-02-09 00:00:00,MACK,228.500,136.000,NaN
71700,3548.222,2022-10-11 09:37:34,2022-02-09 00:00:00,MACK,220.250,130.750,NaN
71701,4450.037,2022-11-01 11:13:45,2022-02-09 00:00:00,MACK,296.350,179.550,NaN
71702,3716.173,2022-10-13 11:03:55,2022-02-09 00:00:00,MACK,238.350,143.250,NaN
71703,3540.989,2022-10-10 10:23:13,2022-02-09 00:00:00,MACK,NaN,129.000,NaN

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight
0,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN
1,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN
2,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN
3,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN
4,1665.175,2022-07-01 00:00:29,2021-12-28 00:00:00,VOLVO,46.050,10.900,NaN
...,...,...,...,...,...,...,...
6593672,288136.520,2022-12-03 02:23:36,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN
6593673,288136.520,2022-12-03 02:25:56,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN
6593674,288136.520,2022-12-03 02:41:33,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN
6593675,33055.879,2022-07-08 18:38:25,2020-05-19 00:00:00,MACK,2152.303,697.701,NaN
6593676,163699.290,2022-12-28 07:50:14,2021-03-10 00:00:00,MACK,4991.407,1453.502,NaN

In [6]:
reds['red_fault'] = 1
greys['red_fault'] = 0

In [7]:
display(reds)
display(greys)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault
0,172786.210,2022-09-06 22:32:36,2020-02-27 00:00:00,VOLVO,3244.905,626.601,NaN,1
1,172786.210,2022-09-05 18:11:09,2020-02-27 00:00:00,VOLVO,3244.805,626.501,NaN,1
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,625.101,22487.151,1
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,624.201,17482.657,1
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,621.301,17482.657,1
...,...,...,...,...,...,...,...,...
71699,3654.160,2022-10-12 10:02:40,2022-02-09 00:00:00,MACK,228.500,136.000,NaN,1
71700,3548.222,2022-10-11 09:37:34,2022-02-09 00:00:00,MACK,220.250,130.750,NaN,1
71701,4450.037,2022-11-01 11:13:45,2022-02-09 00:00:00,MACK,296.350,179.550,NaN,1
71702,3716.173,2022-10-13 11:03:55,2022-02-09 00:00:00,MACK,238.350,143.250,NaN,1
71703,3540.989,2022-10-10 10:23:13,2022-02-09 00:00:00,MACK,NaN,129.000,NaN,1

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault
0,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN,0
1,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN,0
2,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN,0
3,155441.055,2022-07-01 00:00:03,2021-11-12 00:00:00,VOLVO,3585.855,1030.451,NaN,0
4,1665.175,2022-07-01 00:00:29,2021-12-28 00:00:00,VOLVO,46.050,10.900,NaN,0
...,...,...,...,...,...,...,...,...
6593672,288136.520,2022-12-03 02:23:36,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593673,288136.520,2022-12-03 02:25:56,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593674,288136.520,2022-12-03 02:41:33,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593675,33055.879,2022-07-08 18:38:25,2020-05-19 00:00:00,MACK,2152.303,697.701,NaN,0
6593676,163699.290,2022-12-28 07:50:14,2021-03-10 00:00:00,MACK,4991.407,1453.502,NaN,0

In [8]:
faults = pd.concat([reds, greys])

In [9]:
display(faults)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault
0,172786.210,2022-09-06 22:32:36,2020-02-27 00:00:00,VOLVO,3244.905,626.601,NaN,1
1,172786.210,2022-09-05 18:11:09,2020-02-27 00:00:00,VOLVO,3244.805,626.501,NaN,1
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,625.101,22487.151,1
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,624.201,17482.657,1
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,621.301,17482.657,1
...,...,...,...,...,...,...,...,...
6593672,288136.520,2022-12-03 02:23:36,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593673,288136.520,2022-12-03 02:25:56,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593674,288136.520,2022-12-03 02:41:33,2021-03-25 00:00:00,VOLVO,7055.910,2155.403,NaN,0
6593675,33055.879,2022-07-08 18:38:25,2020-05-19 00:00:00,MACK,2152.303,697.701,NaN,0
6593676,163699.290,2022-12-28 07:50:14,2021-03-10 00:00:00,MACK,4991.407,1453.502,NaN,0

In [10]:
faults = faults.dropna()

In [11]:
display(faults)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,625.101,22487.151,1
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,624.201,17482.657,1
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,621.301,17482.657,1
5,172779.903,2022-08-18 22:45:58,2020-02-27 00:00:00,VOLVO,0.000,621.301,17482.657,1
6,172786.210,2022-09-06 22:36:45,2020-02-27 00:00:00,VOLVO,3245.005,626.701,56791.079,1
...,...,...,...,...,...,...,...,...
6593636,216619.175,2022-12-31 23:59:40,2020-04-30 00:00:00,VOLVO,6679.060,1067.352,35406.239,0
6593648,148177.270,2022-12-30 16:10:38,2021-09-29 00:00:00,VOLVO,3747.455,860.751,35692.840,0
6593649,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,860.201,46407.306,0
6593650,148163.606,2022-12-30 16:11:43,2021-09-29 00:00:00,VOLVO,3746.255,860.201,46407.306,0
6593651,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,860.201,46407.306,0

In [12]:
# Transforms the idle_engine_hours to hours
faults['idle_engine_hours'] = faults['idle_engine_hours'] / 3600

In [13]:
# Calculates the active_engine_hours
faults['active_engine_hours'] = faults['engine_hours'] - faults['idle_engine_hours']
print(faults['active_engine_hours'])

2          3242.931361
3          3241.931611
4            -0.172584
5            -0.172584
6          3244.830916
              ...
6593636    6678.763513
6593648    3747.215903
6593649    3746.016055
6593650    3746.016055
6593651    3746.016055
Name: active_engine_hours, Length: 3290728, dtype: float64

In [14]:
# Calculate the vehicle service age in days
faults['vehicle_service_age'] = pd.to_datetime(faults['message_date_time']) - pd.to_datetime(faults['in_service_dt'])
faults['vehicle_service_age'] = faults['vehicle_service_age'].dt.days
print(faults['vehicle_service_age'])

2          905
3          905
4          903
5          903
6          922
          ...
6593636    975
6593648    457
6593649    457
6593650    457
6593651    457
Name: vehicle_service_age, Length: 3290728, dtype: int32

In [15]:
# Turns vehicle make into a boolean
volvor = lambda x: 1 if x == "VOLVO" else 0
faults['volvo'] = faults['vehicle_make'].apply(volvor)
print(faults['volvo'].mean())

0.741740733357482

In [16]:
display(faults)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault,active_engine_hours,vehicle_service_age,volvo
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,0.173639,22487.151,1,3242.931361,905,1
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,0.173389,17482.657,1,3241.931611,905,1
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,0.172584,17482.657,1,-0.172584,903,1
5,172779.903,2022-08-18 22:45:58,2020-02-27 00:00:00,VOLVO,0.000,0.172584,17482.657,1,-0.172584,903,1
6,172786.210,2022-09-06 22:36:45,2020-02-27 00:00:00,VOLVO,3245.005,0.174084,56791.079,1,3244.830916,922,1
...,...,...,...,...,...,...,...,...,...,...,...
6593636,216619.175,2022-12-31 23:59:40,2020-04-30 00:00:00,VOLVO,6679.060,0.296487,35406.239,0,6678.763513,975,1
6593648,148177.270,2022-12-30 16:10:38,2021-09-29 00:00:00,VOLVO,3747.455,0.239097,35692.840,0,3747.215903,457,1
6593649,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1
6593650,148163.606,2022-12-30 16:11:43,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1
6593651,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1

In [17]:
# The variables for the logistic regression
X = faults[['volvo', 'active_engine_hours', 'gross_combined_weight', 'odometer_reading', 'vehicle_service_age']]
Y = faults['red_fault']

In [18]:
display(faults)

,odometer_reading,message_date_time,in_service_dt,vehicle_make,engine_hours,idle_engine_hours,gross_combined_weight,red_fault,active_engine_hours,vehicle_service_age,volvo
2,172781.947,2022-08-20 23:41:52,2020-02-27 00:00:00,VOLVO,3243.105,0.173639,22487.151,1,3242.931361,905,1
3,172779.940,2022-08-20 16:42:18,2020-02-27 00:00:00,VOLVO,3242.105,0.173389,17482.657,1,3241.931611,905,1
4,172779.903,2022-08-18 22:46:25,2020-02-27 00:00:00,VOLVO,0.000,0.172584,17482.657,1,-0.172584,903,1
5,172779.903,2022-08-18 22:45:58,2020-02-27 00:00:00,VOLVO,0.000,0.172584,17482.657,1,-0.172584,903,1
6,172786.210,2022-09-06 22:36:45,2020-02-27 00:00:00,VOLVO,3245.005,0.174084,56791.079,1,3244.830916,922,1
...,...,...,...,...,...,...,...,...,...,...,...
6593636,216619.175,2022-12-31 23:59:40,2020-04-30 00:00:00,VOLVO,6679.060,0.296487,35406.239,0,6678.763513,975,1
6593648,148177.270,2022-12-30 16:10:38,2021-09-29 00:00:00,VOLVO,3747.455,0.239097,35692.840,0,3747.215903,457,1
6593649,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1
6593650,148163.606,2022-12-30 16:11:43,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1
6593651,148163.606,2022-12-30 16:11:33,2021-09-29 00:00:00,VOLVO,3746.255,0.238945,46407.306,0,3746.016055,457,1

In [19]:
log_reg = sm.Logit(Y, X).fit()
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.049605
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:              red_fault   No. Observations:              3290728
Model:                          Logit   Df Residuals:                  3290723
Method:                           MLE   Df Model:                            4
Date:                Mon, 15 May 2023   Pseudo R-squ.:                 -0.2040
Time:                        12:02:56   Log-Likelihood:            -1.6324e+05
converged:                       True   LL-Null:                   -1.3557e+05
Covariance Type:            nonrobust   LLR p-value:                     1.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
volvo                    -1.1009      0.011   -103.417      0.000      -1.122      -1.080
active_engine_hours       0.0002   3.68e-06     48.927      0.000       0.000       0.000
gross_combined_weight -5.582e-05   2.57e-07   -216.864      0.000   -5.63e-05   -5.53e-05
odometer_reading       5.078e-06      1e-07     50.650      0.000    4.88e-06    5.27e-06
vehicle_service_age      -0.0064   3.74e-05   -170.984      0.000      -0.006      -0.006
=========================================================================================

In [20]:
coefs = sm.Logit(Y, X).fit().params.values
print(coefs)

Optimization terminated successfully.
         Current function value: 0.049605
         Iterations 9
[-1.10093899e+00  1.80169934e-04 -5.58199908e-05  5.07785811e-06
 -6.38759675e-03]

In [21]:
delta = []
for coef in coefs:
    delta.append((math.exp(coef) - 1) * 100)
print(delta)

[-66.74413338234369, 0.018018616557125, -0.005581843289159671, 0.0005077871001679668, -0.6367239419650783]

In [22]:
faults['active_engine_days'] = faults['active_engine_hours'] / 24

In [23]:
X = faults[['volvo', 'active_engine_days', 'gross_combined_weight', 'odometer_reading', 'vehicle_service_age']]

In [24]:
log_reg = sm.Logit(Y, X).fit()
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.049605
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:              red_fault   No. Observations:              3290728
Model:                          Logit   Df Residuals:                  3290723
Method:                           MLE   Df Model:                            4
Date:                Mon, 15 May 2023   Pseudo R-squ.:                 -0.2040
Time:                        12:03:07   Log-Likelihood:            -1.6324e+05
converged:                       True   LL-Null:                   -1.3557e+05
Covariance Type:            nonrobust   LLR p-value:                     1.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
volvo                    -1.1009      0.011   -103.417      0.000      -1.122      -1.080
active_engine_days        0.0043   8.84e-05     48.927      0.000       0.004       0.004
gross_combined_weight -5.582e-05   2.57e-07   -216.864      0.000   -5.63e-05   -5.53e-05
odometer_reading       5.078e-06      1e-07     50.650      0.000    4.88e-06    5.27e-06
vehicle_service_age      -0.0064   3.74e-05   -170.984      0.000      -0.006      -0.006
=========================================================================================

In [25]:
coefs = sm.Logit(Y, X).fit().params.values
print(coefs)

Optimization terminated successfully.
         Current function value: 0.049605
         Iterations 9
[-1.10093899e+00  4.32407842e-03 -5.58199908e-05  5.07785811e-06
 -6.38759675e-03]

In [26]:
delta = []
for coef in coefs:
    delta.append((math.exp(coef) - 1) * 100)
print(delta)

[-66.74413338234515, 0.43334407325161806, -0.005581843289159671, 0.0005077871001679668, -0.6367239419648341]

In [27]:
cols = X.columns
dicto = dict(zip(cols, coefs))
delta = []
for coef in coefs:
    delta.append((math.exp(coef) - 1) * 100)
coeficients = pd.DataFrame({"Feature": cols.tolist(), "Coeficients": delta})
display(coeficients)

                 Feature  Coeficients
0                  volvo   -66.744133
1     active_engine_days     0.433344
2  gross_combined_weight    -0.005582
3       odometer_reading     0.000508
4    vehicle_service_age    -0.636724

# This is the machine learning part

In [28]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [29]:
model = LogisticRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=17)
model.fit(X_train, Y_train)
model.predict(X_test)
model.score(X_test, Y_test)

0.993133235887883

In [30]:
confusion_matrix = confusion_matrix(Y_test, model.predict(X_test))

In [31]:
print(confusion_matrix)

[[980440      0]
 [  6779      0]]